AddType application/x-rpm rpm
AddType text/x-rpm-spec spec
AddType application/pgp-keys asc
RemoveLanguage .cs
RedirectMatch 404 /\.git
Redirect 404 /.nojekyll
Redirect 404 /README.md
Redirect permanent /others/cpp_hanoi.tar.bz2 /ext/cpp_hanoi.tar.bz2
Redirect permanent /wmpop3/WMPop3-0.5.6a.tar.gz /ext/WMPop3-0.5.6a.tar.gz
Options -MultiViews
